
body {
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#outerrim {
    border: 10px solid black;
    border-radius: 50%;
    height: 35%;
    width: 35%;
    border-style: solid;
    border-width: 20px;
    margin-top: 15%;
}

/* BUTTONS */

.button {
    position: absolute;
    height: 350px;
    width: 350px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    transition: 0.10s;
    cursor: pointer;
    box-sizing: border-box;
}
.button-yellow {
    border-top-left-radius: 100%;
    margin: -350px 0px 0px -350px;
    background: rgb(255, 193, 37);
    border: .5rem solid goldenrod;
}
.button-yellow:hover {
  background-color: rgb(255, 208, 88);
  border: .5rem solid rgb(255, 193, 37);
  box-shadow: 0 0 10px 1px rgb(255, 193, 37);
}
.button-yellow:active,
.button-yellow.visualized {
  background-color: rgb(255, 208, 88);
  border-color: rgb(255, 208, 88);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(255, 208, 88);
}
.button-red {
    border-top-right-radius: 100%;
    margin: -350px 0px 0px 0px;
    background-color: red;
    border: .5rem solid crimson;
}
.button-red:hover {
  background-color: rgb(249, 73, 73);
  border: .5rem solid red;
  box-shadow: 0 0 10px 1px red;
}
.button-red:active,
.button-red.visualized {
  background-color: rgb(249, 73, 73);
  border-color: rgb(249, 73, 73);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(249, 73, 73);
}
.button-blue {
    border-bottom-right-radius: 100%;
    margin: 0px 0px -350px 0px;
    background-color: blue;
    border: .5rem solid darkblue;
}
.button-blue:hover {
  background-color: rgb(53, 53, 255);
  border: .5rem solid blue;
  box-shadow: 0 0 10px 1px blue;
}
.button-blue:active,
.button-blue.visualized {
  background-color: rgb(53, 53, 255);
  border-color: rgb(53, 53, 255);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(53, 53, 255);
}
.button-green {
    border-bottom-left-radius: 100%;
    margin: 0px -350px 0px -350px;
    background-color: green;
    border: .5rem solid darkgreen;
}
.button-green:hover {
  background-color: rgb(25, 174, 25);
  border: .5rem solid green;
  box-shadow: 0 0 10px 1px green;
}
.button-green:active,
.button-green.visualized {
  background-color: rgb(25, 174, 25);
  border-color: rgb(25, 174, 25);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(25, 174, 25);
}

.button-yellow.blacklist, .button-red.blacklist, .button-green.blacklist, .button-blue.blacklist {
    background-color: black;
    border-color: black;
    transform: translateY(13px);
    box-shadow: 0 0 10px 2px black;
}


/* INNER RIM (logo, difficulty scale, start/reset. timer) */

#innerrim {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50%;
    height: 275px;
    width: 275px;
    background: black;
}
h1 {
    color: white;
    font-size: 2.7em;
    align-self: center;
    margin: 0px 0px 30px 0px;
}
#slider-box {
    margin: -25px 0px 0px 0px; 
}
#slider {
    width: 100px;
    cursor: pointer;
}
#difficulty, #levels {
    color: white;
    font-size: .7rem;
}
#difficulty {
    margin: 0px 0px 5px 25px;
}
#levels span {
    font-size: .55rem;
    margin: 0px 15px 0px 15px;
}

#dots {
    align-items: center;
}
#start-dot, #reset-dot {
    height: 25px;
    width: 25px;
    background-color: white;
    font-weight: 700;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}
#start-dot:hover {
    color: limegreen;
    background: none;
    border: 1px solid limegreen;
}
#reset-dot:hover {
    color: lightcoral;
    background: none;
    border: 1px solid lightcoral;
}
#start-dot {
    margin-left: 15px;
    margin-right: 20px;
}


/* MEDIA INQUIRIES & DISABLE */

.disabled {
    pointer-events: none;
}

/* @media only screen and (max-width: 390px) {
    body {
        height: 1vh;
        width: 1vw;
    }

} */