
body {
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    background-color: black;
}

#outerrim {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    position: relative;
    border-style: solid;
    border-width: 20px;
    margin-top: 150px;
}

/* BUTTONS */

.button {
    position: absolute;
    height: 350px;
    width: 350px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    transition: 0.15s;
    cursor: pointer;
}
.button-yellow {
    border-radius: 350px 0 0 0;
    margin: -350px 0px 0px -350px;
    background: rgb(255, 193, 37);
    border: .5rem solid goldenrod;
}
.button-yellow:hover {
  background-color: rgb(255, 208, 88);
  border: .5rem solid rgb(255, 193, 37);
  box-shadow: 0 0 10px 3px rgb(255, 193, 37);
}
.button-yellow:active,
.button-yellow.visualized {
  background-color: rgb(255, 208, 88);
  border-color: rgb(255, 208, 88);
  transform: translateY(3px);
  box-shadow: 0 0 10px 3px rgb(255, 208, 88);
}
.button-red {
    border-radius: 0 350px 0 0;
    margin: -350px 0px 0px 0px;
    background-color: red;
    border: .5rem solid crimson;
}
.button-red:hover {
  background-color: rgb(249, 73, 73);
  border: .5rem solid red;
  box-shadow: 0 0 10px 3px red;
}
.button-red:active,
.button-red.visualized {
  background-color: rgb(249, 73, 73);
  border-color: rgb(249, 73, 73);
  transform: translateY(3px);
  box-shadow: 0 0 10px 3px rgb(249, 73, 73);
}
.button-blue {
    border-radius: 0px 0 350px 0;
    margin: 0px 0px -350px 0px;
    background-color: blue;
    border: .5rem solid darkblue;
}
.button-blue:hover {
  background-color: rgb(53, 53, 255);
  border: .5rem solid blue;
  box-shadow: 0 0 10px 3px blue;
}
.button-blue:active,
.button-blue.visualized {
  background-color: rgb(53, 53, 255);
  border-color: rgb(53, 53, 255);
  transform: translateY(3px);
  box-shadow: 0 0 10px 3px rgb(53, 53, 255);
}
.button-green {
    border-radius: 0px 0px 0px 350px;
    margin: 0px -350px 0px -350px;
    background-color: green;
    border: .5rem solid darkgreen;
}
.button-green:hover {
  background-color: rgb(25, 174, 25);
  border: .5rem solid green;
  box-shadow: 0 0 10px 3px green;
}
.button-green:active,
.button-green.visualized {
  background-color: rgb(25, 174, 25);
  border-color: rgb(25, 174, 25);
  transform: translateY(3px);
  box-shadow: 0 0 10px 3px rgb(25, 174, 25);
}


/* INNER RIM (logo, difficulty scale, start/reset. timer) */

#innerrim {
    position: absolute;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 275px;
    width: 275px;
    margin: 160px 0px 0px 160px;
    background: black;
}
h1 {
    color: white;
    font-size: 2.7em;
    align-self: center;
    margin: 0px 0px 30px 0px;
}
#slider-box {
    margin: -25px 0px 0px 0px; 
}
#slider {
    width: 100px;
    cursor: pointer;
}
#difficulty, #levels {
    color: white;
    font-size: .7rem;
}
#difficulty {
    margin: 0px 0px 5px 25px;
}
#levels span {
    font-size: .55rem;
    margin: 0px 15px 0px 15px;
}


#dots-countdown {
    align-items: center;
}
#start-dot, #reset-dot {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}
#start-dot:hover, #reset-dot:hover {
    background-color: black;
    border-color: black 3px;
}
#start-dot {
    margin-left: 13px;
    margin-right: -5px;
}

#timer, #time {
    font-size: 2rem;
    color: white;
}

#time {
    position: absolute;
    margin: 7px 0px 0px 20px;
}

#timer {
    position: absolute;
    margin: -35px 0px 0px 95px;
}


/* MEDIA INQUIRIES */

@media only screen 
    and (width: 390px) 
    and (height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { }