
body {
    font-family: 'Dosis', sans-serif;
    background-color: black;
    min-width: 70vw;
}


/* BUTTONS */

.simon {
    display: flex;
    position: relative;
    max-width: 60%;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    max-width: 40%;
    position: relative;
    z-index: 1;
}

.button {
    position: relative;
    height: 350px;
    width: 350px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 5px;
    transition: 0.10s;
    cursor: pointer;
    box-sizing: border-box;
}
.button-yellow {
    border-top-left-radius: 100%;
    background: rgb(255, 193, 37);
    border: .5rem solid goldenrod;
}
.button-yellow:hover {
  background-color: rgb(255, 208, 88);
  border: .5rem solid rgb(255, 193, 37);
  box-shadow: 0 0 10px 1px rgb(255, 193, 37);
}
.button-yellow:active,
.button-yellow.visualized {
  background-color: rgb(255, 208, 88);
  border-color: rgb(255, 208, 88);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(255, 208, 88);
}
.button-red {
    border-top-right-radius: 100%;
    background-color: red;
    border: .5rem solid crimson;
}
.button-red:hover {
  background-color: rgb(249, 73, 73);
  border: .5rem solid red;
  box-shadow: 0 0 10px 1px red;
}
.button-red:active,
.button-red.visualized {
  background-color: rgb(249, 73, 73);
  border-color: rgb(249, 73, 73);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(249, 73, 73);
}
.button-blue {
    border-bottom-right-radius: 100%;
    background-color: blue;
    border: .5rem solid darkblue;
}
.button-blue:hover {
  background-color: rgb(53, 53, 255);
  border: .5rem solid blue;
  box-shadow: 0 0 10px 1px blue;
}
.button-blue:active,
.button-blue.visualized {
  background-color: rgb(53, 53, 255);
  border-color: rgb(53, 53, 255);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(53, 53, 255);
}
.button-green {
    border-bottom-left-radius: 100%;
    background-color: green;
    border: .5rem solid darkgreen;
}
.button-green:hover {
  background-color: rgb(25, 174, 25);
  border: .5rem solid green;
  box-shadow: 0 0 10px 1px green;
}
.button-green:active,
.button-green.visualized {
  background-color: rgb(25, 174, 25);
  border-color: rgb(25, 174, 25);
  transform: translateY(3px);
  box-shadow: 0 0 10px 2px rgb(25, 174, 25);
}

.blacklist {
    background-color: black;
    border-color: rgb(18, 18, 18);
    transform: translateY(13px);
    box-shadow: 0 0 10px 2px rgb( 18, 18, 18);
}


/* INNER RIM (logo, difficulty scale, start/reset. timer) */


.innerCircle {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
    border-radius: 50%;
    height: 280px;
    width: 280px;
    background: rgb(40, 40, 40);
    z-index: 2;
}

h1 {
    color: white;
    font-size: 2.7em;
    margin-top: -10px;
}
#slider-box {
    margin-top: -30px;
}
#slider {
    width: 100px;
    margin-left: 16px;
    cursor: pointer;
}
#difficulty, #levels {
    color: white;
    font-size: .7rem;
}
#difficulty {
    margin-left: 40px;
    margin-bottom: 5px;
}
#levels span {
    font-size: .7rem;
    margin: 0px 17px 0px 20px;
}

#dots {
    align-items: center;
}
#start-dot, #reset-dot, #how-to-play {
    font-family: 'Dosis', sans-serif;
    height: 25px;
    width: 25px;
    background-color: white;
    border: none;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 17px;
}
#start-dot, #reset-dot {
    margin-right: 15px;
}
#start-dot {
    margin-left: 12px;
}
#start-dot:hover {
    color: limegreen;
    background: none;
    border: 1px solid limegreen;
}
#reset-dot:hover {
    color: lightcoral;
    background: none;
    border: 1px solid lightcoral;
}
#how-to-play:hover {
    color: white;
    background: none;
    border: 1px solid white;
}
.exit:hover {
    color: rgb(0, 0, 0);
    background: none;
    border: 1px solid black;
}


/* */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 4;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 3;
}
  

/* MEDIA INQUIRIES & DISABLE */

.disabled {
    pointer-events: none;
}
.hidden {
    display: none;
}

@media screen and (max-width: 300px) {
    .simon {
    width: 100%;
    }
}

