
#outerrim {
    border-radius: 50%;
    height: 700px;
    width: 700px;
    position: relative;
    border-style: solid;
    border-width: 20px;
    margin: auto;
    margin-top: 70px;
}
#yellow {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 350px 0 0 0;
    top: 50%;
    left: 50%;
    margin: -350px 0px 0px -350px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    background: rgb(255, 193, 37);
    border: .5rem solid goldenrod;
}
#yellow:hover, #yellow.highlighted {
    background-color: rgb(255, 208, 88);
}
#red {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 0 350px 0 0;
    top: 50%;
    left: 50%;
    margin: -350px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    background-color: red;
    border: .5rem solid crimson;
}
#red:hover, #red.highlighted {
    background-color: rgb(249, 73, 73);
}
#blue {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 0px 0 350px 0;
    top: 50%;
    left: 50%;
    margin: 0px 0px -350px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    background-color: blue;
    border: .5rem solid darkblue;
}
#blue:hover, #blue.highlighted {
    background-color: rgb(53, 53, 255);
}
#green {
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 0px 0px 0px 350px;
    top: 50%;
    left: 50%;
    margin: 0px -350px 0px -350px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    background-color: green;
    border: .5rem solid darkgreen;
}
#green:hover, #green.highlighted {
    background-color: rgb(25, 174, 25);
}




#innerrim {
    position: absolute;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    background: black;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 2.7em;
    align-self: center;
    margin: 0px 0px 30px 0px;
}

#difficulty, #levels {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: .7rem;
}
#slider-box {
    margin: -25px 0px 0px 0px; 
}
#difficulty {
    margin: 0px 0px 5px 25px;
}
#slider {
    width: 100px;
}
#levels span {
    font-size: .55rem;
    margin: 0px 15px 0px 15px;
}


#start-dot, #reset-dot {
    height: 25px;
    width: 25px;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    border-radius: 50%;
    margin-top: 20px;
}

#start-dot {
    margin-left: 5px;
}


#start-dot:hover, #reset-dot:hover {
    background-color: hsla(0, 0%, 50%, 0.5);
}


#timer, #time {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: white;
}

#time {
    position: absolute;
    margin: 7px 0px 0px 20px;
}

#timer {
    position: absolute;
    margin: -35px 0px 0px 90px;
}
